body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   1em;
  line-height: 1em;
}

a, a:visited, a:hover {
  color: #C33;
  text-decoration:none;
}
a:hover { 
  background-color:#EEE;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

h1 {
  font-size:6em;
  padding:0;
}

h2 {
  color: #66C;
  font-size:4em;
  font-family:Garamond;
  padding:0;
}

.navigation {
  list-style:none;
  font-size:2em; 
  font-weight:bold;
  margin:0;
  padding:0;
  float:left;
}

.navigation li { 
  float:left; 
  margin:0 2em 0 0;
}

.content {
  clear:both;
  padding:1em 0 0 0;
}

table {
  border:0;
  text-align:left;
}

th {
  padding:0 1em 0 0;
  margin:0 1em 0 0;
  font-size:1.5em;
}

td {
  font-size:1.2em;
}